


html, body {
	.fw;
	.fh;
}

.no-rotate{
	-webkit-transform: rotateZ(0deg);
	-moz-transform: rotateZ(0deg);
	-ms-transform: rotateZ(0deg);
	-o-transform: rotateZ(0deg);
	transform: rotateZ(0deg);
}
.rotate-R14 {
	-webkit-transform: rotateZ(14deg);
	-moz-transform: rotateZ(14deg);
	-ms-transform: rotateZ(14deg);
	-o-transform: rotateZ(14deg);
	transform: rotateZ(14deg);
}

.rotate-anti-R14 {
	-webkit-transform: rotateZ(-14deg);
	-moz-transform: rotateZ(-14deg);
	-ms-transform: rotateZ(-14deg);
	-o-transform: rotateZ(-14deg);
	transform: rotateZ(-14deg);
}

.default-bg-settings{
	background-repeat: no-repeat;
	background-position: center;
	-webkit-background-size: cover;
	background-size: cover;
}
.fw {
	width: 100%;
}

.fh {
	height: 100%;
}

section {
	overflow: hidden;
	font-family: 'Roboto Condensed', sans-serif !important;
	font-weight: 100 !important;
	&.section01 {
		background: #279CCC;
		.main-title {
			font-weight: 100;
			.main-title-container {
				display: inline-block;
				height: 200px;
				h1 {
					font-weight: inherit;
					font-size: 6rem;
					line-height: 0.9em;
					margin-bottom: 0;
				}
				ul {
					position: relative;
					li {
						position: relative;
						display: inline-block;
						font-size: 2.0rem;
						padding: 0 7px;
						margin-top: 4px;
						height: 2.0rem;
						text-align: center;
						.list-container {
							position: absolute;
							display: none;
							vertical-align: text-top;
						}
						a {
							font-weight: inherit;
							color: #fff;
							display: inline-block;
							-webkit-transition: all 0.3s;
							-moz-transition: all 0.3s;
							-ms-transition: all 0.3s;
							-o-transition: all 0.3s;
							transition: all 0.3s;
							border-bottom: 0px solid #12FFC3;
							&:hover {
								border-bottom: 3px solid #12FFC3;
							}
						}

						&.selected a {
							color: #12FFC3;
							border-bottom: 3px solid #12FFC3;
						}
					}
				}
				.main-title-underline {
					width: 0%;
					height: 7px;
					background: #12FFC3;
				}
			}
		}
	}
	&.section02 {
		height: 750px;
		background: #3E7F99;
		overflow: hidden;
		-webkit-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;
		position: relative;
		.fixed-layer{
			.tilted-title {
				z-index: 1;
				height: 120%;
				width: 600px;
				position: absolute;
				left: -140px;
				top: -15%;
				background-color: darken(#3E7F99, 20%);
				.rotate-R14;
				.text-container {
					position: relative;
					left: 210px;
					color: #66a6ff;
					.rotate-anti-R14;
					h1 {
						font-size: 5rem;
					}
					h1, h3{
						font-weight: 100 !important;
					}
				}
			}
			.scroll-icons{
				position: absolute;
				height: 80px;
				width: 80px;
				top: 0;
				bottom: 0;
				margin: auto;
				z-index: 2;
				cursor: pointer;
				border-radius: 50%;
				background: #fff;
				.default-bg-settings;
				-webkit-background-size: 90%;
				background-size: 90%;
				-webkit-box-shadow: 0 3px 2px rgba(0,0,0,0.3);
				-moz-box-shadow:  0 3px 2px rgba(0,0,0,0.3);
				box-shadow:  0 3px 2px rgba(0,0,0,0.3);
				&.scroll-right{
					right: 20px;
					background-image: url(/img/arrow_right.png);
				}
				&.scroll-left{
					left: 480px;
					background-image: url(/img/arrow_left.png);
				}
			}
		}
		.scroll-horizontal {
			overflow-x: auto;
			overflow-y: hidden;
			height: 100%;
			min-width: 100%;
			position: relative;
			.projects-gallery {
				position: relative;
				left: 595px;
				height: 100%;
				.project-box {
					height: 140%;
					width: 500px;
					position: absolute;
					top: -16%;
					overflow: hidden;
					.rotate-R14;
					.image-box {
						position: absolute;
						left: -110px;
						.rotate-anti-R14;
						background: red;
						height: 650px;
						width: 700px;
						.default-bg-settings;
					}
					.text-box {
						.rotate-anti-R14;
						font-weight: 500 !important;
						bottom: 20px;
						left: 30px;
						position: absolute;
						height: 300px;
						width: 100%;
						padding: 10px 20px;
						color: #fff;
						h3, h5 {
							margin: 0;
						}
						h5{
							font-weight: 100 !important;
						}
					}
					&.normal{
						.image-box{
							top: -560px;
						}
					}
					&.inverse {
						.image-box {
							bottom: -490px;
							left: -65px;
						}
						.text-box {
							left: 30px;
							top: 140px;
						}
					}
				}
				//510px intervals
				#project01 {
					left: -140px;
					background-color: #FF6251;
					.image-box {
						background-image: url('/img/1mg.jpg');
					}
				}
				#project02 {
					left: 370px;
					background-color: #CC2241;
					.image-box{
						background-image: url('/img/PRJ02.jpg');
					}
				}
				#project03 {
					left: 880px;
					background-color: #3E7F99;
					.image-box{
						background-image: url('/img/PRJ01.jpg');
					}
				}
				#project04 {
					left: 1390px;
					background-color: #12FFC3;
					.image-box{
						background-image: url('/img/PRJ06.jpg');
					}
				}
				#project05 {
					left: 1900px;
					background-color: #CC2241;
					.image-box{
						background-image: url('/img/PRJ03.jpg');
					}
				}
				#project06 {
					left: 2410px;
					background-color: #FF6251;
					.image-box{
						background-image: url('/img/PRJ05.jpg');
					}
				}
				#project07 {
					left: 2920px;
					background-color: #66a6ff;
					.image-box{
						background-image: url('/img/PRJ04.jpg');
					}
				}
				#project08 {
					left: 3430px;
					background-color: #3E7F99;
					.image-box{
						background-image: url('/img/PRJ07.jpg');
					}
				}
				#project09 {
					left: 3940px;
					background-color: #12FFC3;
					.image-box{
						background-image: url('/img/PRJ08.jpg');
					}
				}
			}
		}
	}
	&.section03 {
		height: 750px;
		background: #12FFC3;
		position: relative;
		.work-experience-container{
			position: relative;
			left: -200px;
			top: -200px;
			background: #0cb289;
			height: 1000px;
			width: 50%;
			.rotate-R14;
			.tilted-container{
				z-index: 1;
				height: 120%;
				width: 100%;
				position: absolute;
				left: -140px;
				top: -15%;
				.rotate-anti-R14;
				.content-container{
					width: 50%;
					height: 100%;
					top: 40%;
					position: absolute;
					left: 390px;
					*{
						font-family: 'Roboto Condensed', sans-serif !important;
						font-weight: 100;
					}
					h1{
						top: 40%;
					}
					.work-area{
						top: 50%;
						@media screen and (max-width: 1450px){
							p{
								font-size: 1.5rem;
								line-height: 2rem;
							}
						}
						@media screen and (min-width: 1451px){
							p{
								font-size: 2rem;
								line-height: 2.5rem;
							}
						}
						.company-logo{
							height: 120px;
							width: 120px;
						}
					}
				}
			}
		}
		.skills-container{
			height: 680px;
			width: 54%;
			position: absolute;
			top: 12.90%;
			right: 0;
			*{

				font-family: 'Roboto Condensed', sans-serif !important;
				font-weight: 100 !important;
			}
			h1{
				position: relative;
				textarea{
					outline: none;
					resize: none;
					border: none;
					border-bottom: 2px white solid;
					overflow: hidden;
					margin-left: 30px;
					width: 45%;
					height: 5rem;
					vertical-align: text-bottom;
					font-size: 3rem;
				}
				::-webkit-input-placeholder {
					color: #0cb289;
				}

				::-moz-placeholder {  /* Firefox 19+ */
					color: #0cb289;
				}

				:-ms-input-placeholder {
					color: #0cb289;
				}
				.search-button{
					display: inline-block;
					background-image: url('/img/search.png');
					.default-bg-settings;
					vertical-align: bottom;
					background-size: 70%;
					height: 5rem;
					width: 5rem;
					margin-left: -15px;
				}
			}
			.skills-list{
				font-size: 3rem;
				width: 90%;
				display: none;
				.skill{
					display: inline-block;
					line-height: 4rem;
					padding: 2px 15px;
					-webkit-transition: all 0.2s;
					-moz-transition: all 0.2s;
					-ms-transition: all 0.2s;
					-o-transition: all 0.2s;
					transition: all 0.2s;
					&:hover{
						background: darken(#12FFC3, 10%);
					}
				}
			}
			.fade-out-div{
				width: 100%;
				height: 60px;
				background-color: #12FFC3;
				position: absolute;
				bottom: 0;
				-webkit-box-shadow: 0 0 30px 12px #12FFC3;
				-moz-box-shadow: 0 0 30px 12px #12FFC3;
				box-shadow: 0 0 30px 12px #12FFC3;
			}
		}
	}
	&.section04 {
		background: #FF6251;
		padding-top: 40px;
		padding-bottom: 40px;
		min-height: 500px;
		*{
			font-family: 'Roboto Condensed', sans-serif !important;
			font-weight: 100;
		}
		.title{
			font-size: 7rem;
		}
		.line {
			font-size: 2rem;
			line-height: 2.5rem;
			&.intro{
				font-size: 2.3rem;
				line-height: 2.8rem;
			}
		}
	}
	&.section05 {
		*{
			font-family: 'Roboto Condensed', sans-serif !important;
			font-weight: 100;
		}
		background: #CC2241;
		height: 550px;
		.row{
			padding: 0 50px;
			.col{
				height: 550px;
				&.image-side{
					.image-circle{
						height: 300px;
						width: 300px;
						border-radius: 50%;
						.default-bg-settings;
						background-position: center 30%;
						background-image: url("/img/me.jpg");
						position: relative;
						h5{
							height: 30px;
							widows: 300px;
							position: absolute;
							bottom: -4rem;
							left: 0;
							right: 0;
						}
					}
					.call-to-action{
						margin-left: 15px;
					}
				}
				&.contact-form{
					label{
						font-size: 2rem;
						line-height: 3rem;
						color: #fff;
					}
					input,textarea{
						font-size: 1.5rem;
						padding: 5px;
						outline: none;
						resize: none;
						border: none;
						background: lighten(#CC2241,20%);
						&:focus{
							border-bottom: 1px solid white;
							-webkit-box-shadow: 0px 1px 0 0 white;
							-moz-box-shadow: 0px 1px 0 0 white;
							box-shadow: 0px 1px 0 0 white;
						}
					}

					::-webkit-input-placeholder {
						color: #CC2241;
					}

					::-moz-placeholder {  /* Firefox 19+ */
						color: #CC2241;
					}

					:-ms-input-placeholder {
						color: #CC2241;
					}
					textarea{
						height: 200px;
					}
					button{
						.fw;
						background: #CC2241;
						i{
							.default-bg-settings;
							background-image: url(/img/ic_send_white_36dp_2x.png);
							height: 100%;
							width: 2rem;
							-webkit-background-size: 90%;
							background-size: 90%;
						}
					}
				}
			}
		}
	}
}

//Changes for screen with a max-width of 1300px

@media screen and (max-width: 1220px){
	section{
		&.section02{
			height: auto;
			.fixed-layer{
				position: relative;
				.tilted-title{
					position: relative;
					top: 0;
					left: 0;
					text-align: center;
					.fw;
					.no-rotate;
					.text-container{
						.fw;
						left: 0;
						.no-rotate;
					}
				}
				.scroll-icons{
					top: 750px;
					&.scroll-left{
						left: 20px;
					}
				}
			}
			.scroll-horizontal{
				display: block;
				height: auto;
				.projects-gallery{
					width: 4500px;
					left: 0;
					.project-box{
						float: left;
						left: 0 !important;
						height: 500px;
						.no-rotate;
						position: relative;
						display: inline-block;
						.image-box{
							height: 380px;
							.no-rotate;
							position: relative;
						}
						.text-box{
							height: 120px;
							.no-rotate;
							position: relative;
						}
						&.normal{
							.text-box{
								bottom: 0;
								left: 0;
							}
						}
						&.inverse{
							.text-box{
								top: 0;
								left: 0;
							}
							.image-box{
								left: 0;
								bottom: -400px;
							}
						}
					}
				}
			}
		}
		&.section03{
			height: auto;
			.work-experience-container{
				width: 200%;
				height: 700px;
				position: relative;
				.tilted-container{
					.content-container{
						text-align: right;
						width: 42%;
						.company-logo{
							float: right;
							position: relative;
							right: 10px;
						}
					}
				}
			}
			.skills-container{
				position: relative;
				width: 100%;
				padding: 7.5%;
				top: -300px;
				.tilted-container{
					h1{
						span{
							display: block;
						}
						textarea{
							width: 70%;
						}
					}
					.skills-list{
						width: 100%;
						text-align: left;
					}
					.fade-out-div{
						bottom: -300px;
					}
				}
			}
		}
		&.section05{
			height: auto;
		}
	}
}
